/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


/*BLOCK*/
a {
  font-family: Perpetua, Baskerville, 'Big Caslon', 'Palatino Linotype', Palatino, 'URW Palladio L', 'Nimbus Roman No9 L', serif;
}

body {
  background: url("https://res.cloudinary.com/codenamenosal/image/upload/v1501877340/background_rhyp52.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: midnightblue;
  display: flex;
  flex-direction: column;
 }

h1,h2,h3,h4,h5,h6, p, label {
 color: indigo;
 font-family: Perpetua, Baskerville, 'Big Caslon', 'Palatino Linotype', Palatino, 'URW Palladio L', 'Nimbus Roman No9 L', serif;
}

html, body {
  height: 100%;
}

/*ELEMENT*/

.comment {
  padding-left: 40px;
  padding-right: 40px;
}

.editAndDeleteIcons * {
  color: midnightblue;
}

.top-bar-section ul li {
  background-color: #004d7c
}

.ShowTile {
  background: rgba(21, 47, 92, 0.22);
  margin-bottom: 30px;
  padding: 20px;
}

.Tile {
  background: rgba(236, 236, 236, 0.70);
}

.IndividualMatch {
  padding: 10px;
}

.transbox {
  background: rgba(236, 236, 236, 0.90);
  margin-left: 50px;
  margin-right: 50px;
  padding:30px;
  border-left: 1px solid midnightblue;
  border-right: 1px solid midnightblue;
  flex-grow: 1;
}

.voicebunnyLogo {
  width: 20px
}

/*MODIFIER*/

.bold {
  font-weight: bold;
}

.centered {
  text-align: center;
}

.overrideNav {
  background-color: #003351;
}
.makeRight {
  text-align: right;
}
