/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


.MatchTile {
  border: rgba(0, 112, 149, 0.70) solid 1px;
  background: rgba(236, 236, 236, 0.70);
 }

body {
  background: url("http://res.cloudinary.com/codenamenosal/image/upload/v1501877340/background_rhyp52.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: midnightblue;
 }

div.nav-bar {
  background: rgba(236, 236, 236, 0.65);
 }

div.transbox {
  background: rgba(236, 236, 236, 0.75);
  margin-left: 50px;
  margin-right: 50px;
  padding: 30px;
  border: 1px solid rgba(0, 112, 149, 0.70);
  }

h1,h2,h3,h4,h5,h6, p, label {
  color: indigo;
  font-family: Perpetua, Baskerville, 'Big Caslon', 'Palatino Linotype', Palatino, 'URW Palladio L', 'Nimbus Roman No9 L', serif;
}

.NoBooks {
  text-align: center;
}

.DisplayBookInfo {
  display: block;
  margin: auto;
  width: 90%;
}

.BookTile-image {
  width: 175px;
  height: inherit;
}

.editAndDeleteIcons * {
  color: midnightblue;
}

.overrideNav {
  background-color: #003351;
}

.BookTile {
  text-align: center;
  border: rgba(0, 112, 149, 0.70) solid 1px;
  background: rgba(236, 236, 236, 0.70);
  margin-bottom: 8px;
}

.top-bar-section ul li {
  background-color: #004d7c
}

button.generateButton {
  left:40%;
}

a {
  font-family: Perpetua, Baskerville, 'Big Caslon', 'Palatino Linotype', Palatino, 'URW Palladio L', 'Nimbus Roman No9 L', serif;
}
